#HTTP SERVICE PORT
HTTP_PORT=3010

#CORS
CORS_ADDRESS=http://localhost:5173

#MONGO DB CONFIG
MONGODB_URL=mongodb://127.0.0.1:27017/
MONGODB_DATABASE=BANCOE_DE_DADOS?authSource=admin

#JWT TOKEN
JWT_SECRET=API_TOKEN